<div id="content">

	<simple-notifications [options]="options"></simple-notifications>

	<div class="row">
		<sa-big-breadcrumbs [items]="['Personal', 'Horario Empleado']" icon="group"
							class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
	</div>


	<sa-widgets-grid>
		<!-- row -->

		<div class="row">

			<h2 class="row-seperator-header"> Horario del Empleado</h2>

			<!-- NEW WIDGET START -->
			<div class="col-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<sa-widget [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
						   [sortable]="false">

					<div class="smart-form">
						<div class="row">
							<section class="col col-md-6">
								<a (click)="onRegresarHorarioEmpleado()" class="btn btn-default btn-lg"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
							</section>

							<section class="col col-md-6 text-right">
								<a (click)="onRegistrarHorarioEmpleado()" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Guardar</a>
							</section>
						</div>
					</div>

					<!-- widget div-->
					<div>

						<!-- widget content -->
						<div class="widget-body">

							<div class="well well-sm well-light">

								<div class="padding-10">

									<div>
										<fieldset>
											<legend>Datos</legend>

											<div class="smart-form">

												<div class="row">

													<section class="col col-md-4">
														<label>Fecha Inicio de Vigencia</label>
														<label [class]="classEdit">
															<i class="icon-append fa fa-calendar"></i>
															<input type="text" placeholder="Seleccionar una Fecha" (change)="onChangeInicioVigencia($event)" [(ngModel)]="horarioEmpleado.inicioVigencia" saUiDatepicker date-format="dd/MM/yy" [disabled]="isEdit"/>
														</label>

													</section>
													<section class="col col-md-4">
														<label>Fecha Fin de Vigencia</label>
														<label class="input state-disabled">
															<i class="icon-append fa fa-calendar"></i>
															<input type="text" [(ngModel)]="horarioEmpleado.finVigencia" disabled="disabled"/>
														</label>

													</section>
												</div>

												<div class="row">


													<section class="col col-md-4">
														<label>Tipo Horario<span style="color: red">*</span></label>
														<label class="input">
															<kendo-dropdownlist [data]="tiposhorario" [textField]="'nombre'" [valueField]="'codigo'" [defaultItem]="defaultItem" [valuePrimitive]="true" [(ngModel)]="horarioEmpleado.tipoHorario" style="width: 100%;" (selectionChange)="onchangeHorario($event)" [disabled]="isEdit"></kendo-dropdownlist>
														</label>
													</section>
													<section class="col col-md-4">
														<label>Horario Seleccionado</label>
														<label class="input">
															<kendo-dropdownlist [data]="horarios" [textField]="'nombre'" [valueField]="'idHorario'" [defaultItem]="defaultItemHorario" [valuePrimitive]="true" [(ngModel)]="horarioEmpleado.idHorario" [(value)]="horarioEmpleado.idHorario" style="width: 100%;" (selectionChange)="onChangeHorarioDia($event)" [disabled]="isPersonalizado"></kendo-dropdownlist>
														</label>
													</section>

												</div>

												<div class="row">

													<section class="col col-md-4">
														<label>Horas por Semana</label>
														<label [class]="classEdit">
															<input type="text" [(ngModel)]="horarioEmpleado.horasSemanal" [disabled]="isEdit"/>
														</label>
													</section>

													<section class="col col-md-4">
														<label>Horas Cubiertas</label>
														<label class="input state-disabled">
															<input type="text" disabled="disabled"/>
														</label>
													</section>
												</div>

											</div>
										</fieldset>

									</div>

									<div>
										<fieldset>


											<kendo-grid [data]="horarioEmpleadoDias" >

												<kendo-grid-column field="idHorarioEmpleadoDia" title=" " [width]="40">
													<template kendoCellTemplate let-dataItemHorarioDia>
														<div class="text-center">
															<a href="javascript:void(0)" class="link" (click)="onEditarHorarioDia(dataItemHorarioDia)">
																<span class="fa fa-pencil"></span></a>
														</div>
													</template>
												</kendo-grid-column>


												<kendo-grid-column field="nombreDiaSemana" title="Dia" [width]="150"></kendo-grid-column>
												<kendo-grid-column field="laboral" title="Laboral" [width]="200"></kendo-grid-column>
												<kendo-grid-column field="entrada" title="Entrada" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="salida" title="Salida" [width]="100"></kendo-grid-column>
												<kendo-grid-column field="tiempoAlmuerzo" title="Almuerzo" [width]="100"></kendo-grid-column>
											</kendo-grid>

											<horario-empleado-dia-dialog-form [model]="dataItemHorarioDia" (cancel)="onCancelarHorarioDia()" (save)="onAgregarHorarioDia($event)"></horario-empleado-dia-dialog-form>
										</fieldset>

									</div>

								</div>

							</div>

							<!-- Dialog-->
							<div id="dialog-message" title="Mensaje">
								<!-- dialog header // removing on compile-->
								<p>
									{{mensaje}}
								</p>

							</div>
							<!-- End dialog -->

						</div>
					</div>
				</sa-widget>
			</div>
			<!-- WIDGET END -->
		</div>


	</sa-widgets-grid>

</div>
